/* Features Section */
#features {
	padding: 120px 0;
}
#features .features-item {
	margin: 0 20px;
}
#features img {
	margin: 30px auto 20px;
}
#features .about-img:before {
	display: block;
	content: '';
	position: absolute;
	top: 8px;
	right: 8px;
	bottom: 8px;
	left: 8px;
	border: 1px solid rgba(255, 255, 255, 0.5);
}
#features p {
	line-height: 24px;
	margin: 15px 0 30px;
}
/* About Section */
#about {
	padding: 0;
	background: #f6f6f6;
}
#about h2::after {
	bottom: 0;
	margin-left: 0;
	left: 0;
}
#about .about-text {
	padding: 80px 0;
}
#about .about-img {
	background: #444 url(/src/assets/img/gallery-bg.jpg) center center no-repeat;
	background-size: cover;
	height: 570px;
}
#about p {
	line-height: 24px;
	margin: 15px 0 30px;
}