<nav id="menu" class="navbar navbar-expand-sm bg-light">
  <div class="container"> 
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
<ul class="navbar-nav">
  <li><a href="#features" class="page-scroll">Specials</a></li>
  <li><a href="#about" class="page-scroll">About</a></li>
  <li><a href="#restaurant-menu" class="page-scroll">Menu</a></li>
  <li><a href="#team" class="page-scroll">Chef</a></li>
  <li><a href="#contact" class="page-scroll">Contact</a></li>
</ul>
    </div>
  </div>
</nav>